<?php
$task = $this->getNewsCollection();
$taskViewUrl = Mage::getUrl('task/index/view');
?>
<h1>Task</h1>
<?php foreach ($task as $item): ?>
    <h2>
        <a href="<?php echo $taskViewUrl; ?>?id=<?php echo $item->getId(); ?>">
            <?php echo $item->getTitle(); ?>
        </a>
    </h2>
<?php endforeach; ?>
